[Unit]
Description=Discord Bot Service
After=network.target

[Service]
Type=simple
User=$USER
WorkingDirectory=/home/$USER/foo
ExecStart=/usr/bin/node /home/$USER/foo/bot.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
